.arrow {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 10px;
    border: 2px dashed;
    margin-top: 300px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.arrow {
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
