body {
    padding: 100px 50px;
    font-family: "Times New Roman";
    font-size: 30px;
    background-color: #7eb4e2;
}

a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 10px;
    display: inline-block;
    padding: 15px;
    position: relative;
    font-size: 30px;
}

a:hover::after {
    width: 100%;
    right: 0;
}

a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    right: 0;
    position: absolute;
    background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
    transition: width .5s ease 0s, right .5s ease 0s;
    width: 0;
}

